body{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-weight: bold;
    margin: .2rem;
}


#title{
    font-size: 2.5rem;
}

main{
    display: flex;
    gap: 5rem;
    margin: 0rem 4rem;
}

#system-container{
    display: grid;
    grid-template: 1.5fr 1.7fr 1.5fr 1.7fr 1.5fr 1.7fr / 1fr 1fr 1fr .5fr 1fr;
    grid-template-areas:
    "x1 y1 z1 . ."
    "x1-input y1-input z1-input e1 a1"
    "x2 y2 z2 . ."
    "x2-input y2-input z2-input e2 a2"
    "x3 y3 z3 . ."
    "x3-input y3-input z3-input e3 a3";
}

#system-container *{
    text-align: center;
}

#system-container label, #system-container p{
    margin: auto;
    font-size: 3rem;
}

#system-container input{
    font-size: 2rem;
    max-width: 125px;
}

#result-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#result-container h1{
    margin-bottom: 1rem;
}

#row-echelon-container{
    height: 50%;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    margin-bottom: 3rem;
}

#row-echelon-container p{
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1.5rem 0;
}

#solution-container{
    text-align: center;
    display: none; /*to be toggled to flex by js */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
}

.third-value{
    border-right: solid;
}

#unsolvable-message{
    text-align: center;
    font-size: 2rem;
    height: 176px;
}